* {
    direction: rtl !important;
    line-height: 2;
    color: #fff;
}

body {
    background-image: linear-gradient(45deg, #000, #252525);
}

.text-mine-orange {
    color: #FFBF6E !important;
}

.text-mine-teal {
    color: #6CF5E9 !important;
}

.text-header-1 {
    font-size: 64px !important;
    margin-top: 150px;
}

.text-header-2 {
    font-size: 35px !important;
}

.navbar {
    min-height: 150px;
    background-color: transparent !important;

}

.btn-base {
    background-color: #FFBF6E !important;
    color: white !important;

}

.navbar-brand {
    font-weight: bold;
    font-size: 35px !important;
}


.nav-link {
    color: #fff !important;
}


.btn-base-w100 {
    width: 100%;
}

.btn-base-w80 {
    width: 80%;
}

.btn-base-w50 {
    width: 50% !important;
}

.home-bot {
    margin: 50px;
    width: 100%;
}

.home-head-1 {
    font-weight: bold;
}

.home-p-1 {
    margin-top: 50px;
    text-justify: distribute-all-lines;
    margin-bottom: 50px;
}

.background-auth {
    height: 100% !important;
    max-height: 100%;
}

.background-auth > img {
    width: 100%;
    max-height: 100%;
}

.form-control {
    border-width: 1px !important;
    border-color: #FFBF6E !important;
    min-height: 60px;
}

.form-control:focus {
    box-shadow: 0 0 3px 3px rgba(250, 115, 22, 0.44) !important;
}

.ltr-input {
    direction: ltr !important;
}

.padding-to-center {
    padding-top: 20%;
}

.btn-group-vertical > * {
    width: 100% !important;
}

.btn-group-vertical {
    width: 100% !important;
    padding: 10px;
}

.btn-outline-secondary {
    border-color: #FFBF6E !important;
    border-width: 2px !important;
    color: #FFBF6E !important;
    display: grid !important;
    align-content: center !important;
    text-align: center !important;
    height: 60px;
}

.btn-outline-secondary:hover {
    background-color: #FFBF6E !important;
    color: white !important;

}

.levels-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.level-split {
    flex: 1;
    margin: 0 20px;
    border-radius: 50px;
    height: 12px;
    background-color: #FFBF6E;
}

.level {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    cursor: pointer;

}

.badge.suggestion {
    font-size: 22px !important;
    background-color: #F0F0F0 !important;
    color: #6c757d !important;
    border-radius: 100px !important;
    font-weight: lighter !important;
    margin: 4px;
    cursor: pointer;
}

.badge.suggestion:hover {
    background-color: rgba(243, 243, 243, 0.78) !important;
    transition: background-color .4s;
}

.level-circle {
    background-color: #FFBF6E;
    border-radius: 150%;
    width: 50px;
    height: 50px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}


.level-label {
    font-size: 14px;

}

.level-label-selected {
    text-decoration: underline;
    font-size: 12px;

}

.level-circle-selected {
    background-color: #001F2C;

}


a {
    color: #FFBF6E !important
}

.selected-kws {
    border-radius: 6px;
    border-width: 2px;
    border-style: dashed;
    border-color: #FFBF6E;
    width: 100%;
    min-height: 150px;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50)
}


.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /* allow click-through to backdrop */
    pointer-events: none;
}

.contents {
    min-width: 240px;
    border-radius: 6px;
    padding: 16px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: auto;
}


.actions {
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;
}


.searchbar {
    margin-bottom: 100px;
    margin-top: 10px;

    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 35px;
    padding: 10px;
    border-style: solid;
    border-color: #fff !important;
    border-width: 1px !important;
}

.search-input {
    margin-top: 5px;
    color: white;
    width: 90%;
    line-height: 40px;
    border: 0;
    outline: 0;
    background-color: transparent;
    transition: width 0.4s linear;
}


.search-icon {
    height: 40px;
    width: 60px;
    display: flex;
    float: right;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
}

.tool-box {
    border-radius: 25px;
    border-color: rgba(255,255,255,0.4);
    border-style: solid;
    border-width: 1px;
    height: 391px !important;
    margin: 5px;
    background: #161616;

}


 .tool-image {
    height: 40%;
    width: 100%;
    border-radius: 25px;
    background-size: cover;
}

.tool-title {
    padding-top: 20px;
    height: 15%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.tool-title > h3 {
    align-content: center;
    direction: ltr;
}

.tool-short {
    height: 25%;
    margin: 10px;
}

.tool-short > p{
    font-size: 16px;
    line-height: 1.5;
    direction: ltr !important;

}

.tool-tags {
    direction: ltr !important;
    margin: 10px;
    height: 20%;
    padding-bottom: 10px;
}
.tool-tags > * {
    color: #FFBF6E;
    direction: ltr !important;
}

.tag{
    color: #FFBF6E;
    font-size: 15px;
    margin: 0 5px;
}
